#nav-menu-left {    
    display: block;
    position: fixed;
    top: 35px;
    left: 25px;
    z-index: 10;
    height: 24px;
}

#nav-left-list, #nav-left-list a {
	display: block;
	text-align: center;
}

#menuToggle.btn-close  {
	background: none;
}

#menuToggle.btn-close:after  {
	top: -2px;
	width: 2rem;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transition: all 0.3s ease-in;
}
#menuToggle.btn-close:before  {
	top: 2px;
	width: 2rem;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}
#nav-left {
	position: fixed;
	width: 20%;
	height: 100%;
	top: 0;
	background: rgba(0,0,0,0.8);
	padding: 72px 0px;
	transition: width 0.3s ease-in;
}
#nav-left i.fa {
	display: inline;
}
#nav-left.closed {
	width: 0%;
	/*transition: width 0.3s ease-in;*/
}
#nav-left-list.closed {
	visibility: hidden;
	transition: visibility 0.2s ease-out;
}

#nav-menu-left:hover {
	cursor: pointer;
}
#nav-menu-left:active {
	
}

#menuToggle {
	height: 4px;
    width: 1.5em;
    background-color: #fff;
    margin-top: 8px;
}
#menuToggle:before, #menuToggle:after {
	content: "";
	display: block;
	position: relative;
	height: 4px;
    width: 1.5em;
    background-color: #fff;
    transition: all 0.3s ease-in;
}



#menuToggle:before {
	top: -8px;
}
#menuToggle:after {
	top: 4px;
}